<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form>
    <label for="account">账号</label>
    <input id="account" name="account" value="" />
    <label for="password">密码</label>
    <input id="password" name="password" value="" />
    <label for="confirmPassword">确认密码</label>
    <input id="confirmPassword" name="confirmPassword" value="" />
    <button type="submit">
      注册
    </button>
  </form>
</body>

</html>